<div class="container">
    <div class = "navbar navbar-default navbar-fixed-top">
      <a href="/" class="navbar-text pull-left glyphicon glyphicon-flag">B.A.S.E.</a>
      <a href="/" class="navbar-text pull-right">Login</a>
    </div><br><br><br>
  </div>



<h1>Battle Against Soldiers Epicodus</h1>
<hr>

<h3>All shires in the Kingdom</h3>

<ul>
  <% @shires.each do |shire| %>
    <li>
      <a href="/shires/<%= shire.slug%>"><%= shire.name %></a>
    </li>
  <% end %>
</ul>

<hr>
<%= render('layouts/errors', object: @shire) %>

<form class="form-inline" action="/shires/" method="post">
  <input class="form-control" name="shire[name]" type="text" placeholder="Name your Shire...">
  <button type="submit" class ="btn btn-primary">New Shire</button>
</form>
