<div class="container">
    <div class = "navbar navbar-default navbar-fixed-top">
      <p class="navbar-text pull-left">BaseLogo</p>
      <p class="navbar-text pull-left"> Level: </p>
      <p class="navbar-text pull-left"> Gold: <p>
      <a href="/" class="navbar-text pull-right">userName</a>
    </div><br><br><br>
  </div>


<h1><%= @shire.name %></h1>
<hr>
<p>gold: <%= @shire.gold %></p>
 <a href="/shires/<%= @shire.slug %>" data-method="delete" rel="nofollow" data-confirm="You're About to MURDER all your citizens Forever!!! Are you sure you can go through with this?!!"><button class ="btn btn-danger">Remove your Shire Forever</button></a>
